.fic-field {
    display: inline-block;
    min-width: 100px;
}

.fic-editor-border {
    border-bottom: 3px solid #b5b5b5;
}

.actions {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right
}

.disabled {
    opacity: 0.4;
}

.hidden {
    display: none;
}

#fic-status {
    width: 100px;
}